p
{
	background: red;
	background: yellow;
	font-size: 18px;
}
h1
{
	color: red;
}

h2
{
	color: blue;
}

body
{
	color: black;
}

span
{
	color: red;
}

li
{
	font-size: 18px;
}

/* HOJA DE ESTILOS DE LA PAGINA
.........................................*/